<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="listing[viewport" content="width=device-width, initial-scale=1.0">
    <title> Edit <%=listing.title%> </title>
</head>
<body>
    <form action="/listings/<%=listing.id%>?_method=PUT" method="post">

        <input type="text" name="listing[title]" value="<%= listing.title%>" id="title"><br/> <br/>
        <textarea name="listing[description]" id="description" ><%= listing.description %></textarea><br/> <br/>
        <input type="text" name="listing[image]" id="image" value="<%= listing.image%>"><br/> <br/>
        <input type="number" name="listing[price]" id="price" value="<%= listing.price %>"><br/> <br/>
        <textarea name="listing[location]" id="location" ><%= listing.location%> </textarea><br/> <br/>
        <input type="text" name="listing[country]" id="country" value="<%= listing.country %>"><br/> <br/>
        <button>edit</button>
    </form>
    <br/> <br/>
</body> 
</html>