<%- layout("/layouts/boilerplate")%>

<body>
    <div class="row">
        <div class="col-6 offset-3">
            <h1 class="mt-3"><b><%= listing.title%><br/> </b></h1>
            <div class="card listing-card">
                <img src="<%= listing.image%>" style="height: 40vh; width: 18rem;" class="card-img-top" alt="...">
                <br/>
                <div class="card-body">
                    owned by <i><%= listing.owner.username %></i> <br/><br/>
                  <%= listing.description %> <br/>
                  $<%= listing.price.toLocaleString('en-US')%><br/>
                  <%= listing.location%> <br/>
                  <%= listing.country %><br/> <br/>
                <% if(currUser && currUser._id.equals(listing.owner._id)){%>
                    <div class="show-btns">
                        <a class="btn me-2 col-2 add-btn" href="/listings/<%=listing._id%>/edit">
                            Edit
                        </a>
                        <form  method="post" action="/listings/<%=listing._id%>?_method=DELETE">
                            <button class="btn btn-dark">Delete</button>
                        </form>
                    </div>  
                <%}%>
                <hr/>
                <h3> Leave a review</h3>
                <form action="/listings/<%=listing._id%>/reviews" method="post" class="needs-validation" novalidate>
                    <div> 
                        <label class="form-label" for="review[rating]">Rating</label>
                        <input type="range" min="1" max="5" id ='review[rating]' name="review[rating]"></input>
                    </div>
                    <div>
                        <label class="form-label" for="review[comment]">Comment</label>
                        <textarea class="form-control" type="text" id="review[comment]" name="review[comment]" rows="10" cols="30" required></textarea>
                        <div class="invalid-feedback">
                            Please add some comments for review.
                        </div>
                    </div>
                  
                    <button class="mt-3 btn btn-dark" type="submit">Submit</button>
                </form>
                </div>
                <div>
                    <br/>
                    <h2>All reviews:</h2>
                    <div class="row">
                        <% for(rv of listing.reviews){%>
                            <div class="card col-5 ms-3 mt-3">
                                <div class="card-title">Airbnb User</div>
                                <div class="card-text"><%= rv.comment%></div>
                                <div class="card-text"><%=rv.rating + " stars"%></div>

                                <form action="/listings/<%= listing._id%>/reviews/<%=rv._id%>?_method=DELETE" method="post">
                                    <button type="submit" class="btn btn-dark"> Delete</button>
                                </form>
                            </div>
                            
                        <%}%>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <br/>
    
</body> 